.SideNavBar {
    height: 300px;
    border-radius: 20px;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
}

.SideNavBar__button {
    height: calc(100% / 5);
    border: none;
    border-radius: 20px;
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    gap: 20px;
    text-decoration: none;
    color: var(--font-black);
    transition: 0.15s ease-in-out;
    padding: 10px 30px;
}

.SideNavBar__button:hover {
    color: var(--font-white);
    background-color: gray;
}

.SideNavBar__icon {
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.SideNavBar__text {    
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.2rem;
}