.BidProductPageMainContent {
    width: clamp(200px, 65%, 2000px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: rebeccapurple;
}

.BidProductPageMainContent__product-image {
    margin: 25px 0;
    width: clamp(300px, 80%, 1000px);
    height: clamp(180px, 60%, 500px);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    background-color: #FFFFFF;
}

.BidProductPageMainContent__product-image--container {
    height: 100%;
}

.BidProductPageMainContent__product-image--container img {
    height: 100%;
    width: 100%;
}

.BidProductPageMainContent__content--container {
    width: 100%;
}

.BidProductPageMainContent__header {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.BidProductPageMainContent__product-name {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.BidProductPageMainContent__title {
    font-family: DM Sans;
    font-weight: 900;
    font-size: 2.4rem;
    color: #404040;
}

.BidProductPageMainContent__product-status {
    font-weight: 600;
    color: #878888;
}

.BidProductPageMainContent__product-author {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.BidProductPageMainContent__author-image--container {
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 100%;
}

.BidProductPageMainContent__author-image {
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.BidProductPageMainContent__author-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.BidProductPageMainContent__posted-by {
    color: #878888;
    font-weight: 500;
    font-size: 1rem;
    font-family: DM Sans;
}

.BidProductPageMainContent__author-name {
    color: #404040;
    font-weight: 900;
    font-size: 1.2rem;
    font-family: DM Sans;
}

.BidProductPageMainContent__specifications {
    display: flex;
    padding: 20px;
    flex-direction: column;
    gap: 20px;
    margin: 25px 0;
}

.BidProductPageMainContent__specifications-header {
    font-size: 1.3rem;
    color: #404040;
    font-weight: 600;
}

.BidProductPageMainContent__specifications-content {
    display: flex;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
}

.BidProductPageMainContent__table {
    width: 1100px;
    background-color: #FFFFFF;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.BidProductPageMainContent__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: 600;
}

.BidProductPageMainContent__specifications-label {
    color: #878888;
}

.BidProductPageMainContent__specifications-key {
    color: #404040;
}