.LongTimeLocation {
    height: clamp(100px, 30vw, 500px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
}

.LongTimeLocation__date--container {
    font-family: DM Sans;
    color: var(--font-white);
    background-image: linear-gradient(45deg, #1D5C63, #52796F);
    border-radius: 25px;
    padding: 7.5%;
    user-select: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.LongTimeLocation__title {
    font-size: 1.2rem;
}

.LongTimeLocation__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LongTimeLocation__date {
    font-size: 1.4rem;
    font-weight: 600;
}

.LongTimeLocation__time {
    font-size: 2.5rem;
    font-weight: 900;
}

.LongTimeLocation__timezone {
    font-size: 1rem;
    font-weight: 400;
}

@media screen and (max-width: 1200px) {

    .LongTimeLocation__title {
        font-size: 1rem;
    }
    
    .LongTimeLocation__date {
        font-size: 1.2rem;
    }

    .LongTimeLocation__time {
        font-size: 2rem;
    }
}

@media screen and (max-width: 992px) {

    /* .LongTimeLocation__title {
        font-size: 0.8rem;
    }
    
    .LongTimeLocation__date {
        font-size: 1.2rem;
    }

    .LongTimeLocation__time {
        font-size: 2rem;
    } */
    
}