.Home {
    width: 100%;
    margin: 0;
}

.Home__container {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.Home__all-location--container {
    width: 100%;
    background-color: #FFFDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    padding: 3%;
}

.Home__all-location {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2vw;
}

.Home__time-location--container {
    width: max(calc(600px - 15vw), 300px);
}

.Home__location-suggestion--container {
    width: 1300px;
}

/* Landscape tablets */
@media screen and (max-width: 992px) {

    .Home__all-location {
        gap: 3vh;
        flex-direction: column;
    }

    .Home__location-suggestion--container {
        height: inherit;
        width: clamp(525px, 80vw, 720px);
        display: flex;
        flex-direction: row;
    }
    
}

@media screen and (max-width: 768px) {

    .Home__location-suggestion--container {
        height: 150px;
    }

}