.Home {
    width: 100%;
    margin: 0;
}

.Home__container {
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.Home__all-location--container {
    width: 100%;
    background-color: #FFFDFD;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
    padding: 3%;
    height: fit-content;
}

.Home__all-location {
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: clamp(130px, 20vw, 340px);
    gap: 2vw;
}

/* small laptops */
@media screen and (max-width: 1200px) {

    .Home__banner {
        height: 425px;
    }

    .Home__banner-content {
        gap: 37.5px;
        margin-top: 180px;
    }

    .Home__banner--title {
        font-size: 1.8rem;
    }

    .Home__banner-desc--text {
        font-size: 3.5rem;
    }

    .Home__location-suggestion--subtitle {
        font-size: 1rem;
        font-weight: 600;
    }
    
    .Home__location-suggestion--title {
        font-size: 1.5rem;
        font-weight: 700;
    }

}

/* Landscape tablets */
@media screen and (max-width: 992px) {

    .Home__header {
        margin: 50px;
    }

    .Home__all-location {
        height: 320px;
        gap: 3vh;
        flex-direction: column;
    }

    .Home__location-suggestion--container {
        height: inherit;
        width: clamp(525px, 80vw, 720px);
        display: flex;
        flex-direction: row;
    }
    
}

@media screen and (max-width: 768px) {

    .Home__header {
        margin: 40px;
    }

    .Home__banner {
        height: 360px;
    }

    .Home__banner-content {
        margin-top: 160px;
    }

    .Home__banner--title {
        font-size: 1.4rem;
    }

    .Home__banner-desc--text {
        font-size: 2.6rem;
    }

    .Home__location-suggestion--container {
        height: 150px;
    }

    .Home__location-suggestion--subtitle {
        font-size: 0.8rem;
        font-weight: 600;
    }
    
    .Home__location-suggestion--title {
        font-size: 1.25rem;
        font-weight: 700;
    }

}