.Header {
    background-color: transparent;
    margin: 0;
}

.Header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8vh;
}

.Header__button {    
    border: none;
    background-color: transparent;
}

.Header__text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    color: #FFFDFD;
    text-decoration: none;
    transition: 0.15s ease-in-out;
}

.Header__text:hover {
    color: lightgray;
}

@media screen and (max-width: 768px) {
    .Header {
        margin: 0 10px;
    }
    .Header__container {
        gap: 10px;
        justify-content: space-evenly;
        width: 100%;
    }
}