.ShortTimeLocation {
    height: clamp(130px, 20vw, 380px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2vh;
}

.ShortTimeLocation__date--container {
    font-family: DM Sans;
    color: var(--font-white);
    background-image: linear-gradient(45deg, #1D5C63, #52796F);
    border-radius: 25px;
    padding: 5% 7.5%;
    user-select: none;
}

.ShortTimeLocation__day--text {
    font-size: 1.1rem;
    font-weight: 500;
}

.ShortTimeLocation__date--text {
    font-size: 1.8rem;
    font-weight: 900;
}

@media screen and (max-width: 1200px) {
    .ShortTimeLocation__day--text {
        font-size: 1rem;
    }
    
    .ShortTimeLocation__date--text {
        font-size: 1.35rem;
        font-weight: 800;
    }

    .ShortTimeLocation__location-current--title {
        font-size: 1rem;
    }
    
    .ShortTimeLocation__location-current--desc {
        font-size: 1.35rem;
        margin: -4px 0;
        font-weight: 700;
    }
}

@media screen and (max-width: 992px) {

    .ShortTimeLocation {
        width: inherit;
        height: 120px;
        justify-content: space-evenly;
        flex-direction: row;
    }

    .ShortTimeLocation__date--container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
        padding: 2.5%;
    }

    .ShortTimeLocation__location-current {
        height: auto;
        justify-content: space-between;
        padding: 3%;
    }
    
}